body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mouse-trail {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transition: left 0.2s ease-out, top 0.2s ease-out;
}
